<% @title = 'よくある質問' %>

<%= render 'shared/page_title', f1: @title, f2: @question.category, f3: false %>

<div class="container">

  <div class="alt-table-responsive">

    <table class="table table-curved">

      <tr>
        <td><p>質問：<%= @question.question %></p></td>
      </tr>
      <tr>
        <td><p>回答：<%= @question.answer %></p></td>
      </tr>

    </table>
  </div>

    <div class="text-center">
      <%= link_to '一覧に戻る', girl_question_path, {:class => "btn btn-outline-primary"} %>
    </div>

</div>