<div class="container-fluid color-bar clearfix">
  <div class="row">
    <div class="col-sm-1 col-xs-2 bg-color-1">fix bar</div>
    <div class="col-sm-1 col-xs-2 bg-color-2">fix bar</div>
    <div class="col-sm-1 col-xs-2 bg-color-3">fix bar</div>
    <div class="col-sm-1 col-xs-2 bg-color-4">fix bar</div>
    <div class="col-sm-1 col-xs-2 bg-color-5">fix bar</div>
    <div class="col-sm-1 col-xs-2 bg-color-6">fix bar</div>
    <div class="col-sm-1 bg-color-1 hidden-xs">fix bar</div>
    <div class="col-sm-1 bg-color-2 hidden-xs">fix bar</div>
    <div class="col-sm-1 bg-color-3 hidden-xs">fix bar</div>
    <div class="col-sm-1 bg-color-4 hidden-xs">fix bar</div>
    <div class="col-sm-1 bg-color-5 hidden-xs">fix bar</div>
    <div class="col-sm-1 bg-color-6 hidden-xs">fix bar</div>
  </div>
</div>