<% if f.errors.any? %>
  <div class="alert alert-danger" role="alert">
    <ul>
      <% f.errors.full_messages.each do |msg| %>
        <li>
          <%= msg %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>