<!-- PAGE TITLE SECTION-->
<section class="pageTitleSection">
  <div class="container">
    <div class="pageTitleInfo">
      <h2><%= f1 %></h2>
      <% if f3!=false %>
        <h4><%= f2 %></h4>
        <h4><%= f3 %></h4>
      <% elsif f2!=false %>
        <h4><%= f2 %></h4>
      <% end %>
    </div>
  </div>
</section>
<br>