<% @title = @prefecture.name %>

<%= render 'shared/page_title', f1: "#{@title}の風俗求人", f2: false, f3: false %>

<ul class="breadcrumb">
  <li><%= link_to 'HOME', :girl_root %><span class="divider"></span></li>
  <li class="active"><%= @prefecture.name %></li>
</ul>

<div class="container">

  <% @cities.each do |f| %>
    <ul class="list-group text-center col-sm-4 col-xs-12">
      <%= link_to "#{f.name}（#{@shop_shows.where(city_id: f.id).where(examine: true).count}）", girl_prefecture_city_path(f.prefecture_id, f.id), {:class => "list-group-item"} %>
    </ul>
  <% end %>
</div>