<% @title = @prefecture.name %> <h1><%= @title %>の風俗求人</h1>

<ul class="breadcrumb">
  <li><%= link_to 'HOME', :new_girl_prefecture %><span class="divider"></span></li>
  <li class="active"><%= @prefecture.name %></li>
</ul>



<% @cities.each do |f| %>
  <div class="list-group">
    <%= link_to "#{f.name}（#{@shop_shows.where(city_id: f.id).where(examine: true).count}）", girl_prefecture_city_path(f.prefecture_id, f.id), {:class => "list-group-item col-sm-2"} %>
  </div>

<% end %>