<br>
さま
<br><br>
この度は，招待ポイント換金手続きを頂きましてありがとうございます。<br>
換金審査が終了いたしました。<br>
今回のお支払金額は円です。<br>
これよりご希望の方法にて支払手続きを開始いたしますので，もう少々お待ち下さい。<br><br>
万が一，一週間以上支払いがなされなかった場合には，お手数ですがお問い合わせをお願い致します。<br><br>

<br><br>
女子高生バイトドットコム<br>
<a href="http://www.girlsbaito.example.com:4000">http://www.girlsbaito.example.com:4000</a><br>
