<br>
<%= @congratulation.girl.name %>さま
<br><br>
この度は，<%= @congratulation.apply.shop_show.shop_name %> へご採用のほどまことにおめでとうございます。<br>
採用お祝い金の審査が完了いたしました。<br>
今回のご応募のお祝い金は<%= @congratulation.apply.congratulation_money %>円です。<br>
これよりご希望の方法にて支払手続きを開始いたしますので，もう少々お待ち下さい。<br><br>
万が一，一週間以上支払いがなされなかった場合には，お手数ですがお問い合わせをお願い致します。<br><br>

<br><br>
女子高生バイトドットコム<br>
<a href="https://girlbaito.com">https://girlbaito.com</a><br>
