
<%= @shop_show.shop_info.shop_name %>さま

いつも女子高生バイトドットコムをご利用して頂きまして，まことにありがとうございます。
<%= @shop_show.shop_name %>さまの求人情報掲載審査が完了いたしました。
ただいまより求人掲載が開始されます。
女の子より応募がございましたらこちらのメールアドレスへご連絡を差し上げます。
その際は，http://www.girlsbaito.example.com:4000/shop
にて応募者の情報をご確認ください。
貴店にて採用をされた場合には設定したお祝い金に応じて料金が発生いたしますので，ご承知おきください。
今後とも当サイトをよろしくお願いいたします。

女子高生バイトドットコム
<a href="http://www.girlsbaito.example.com:4000">http://www.girlsbaito.example.com:4000</a>