<br>
<%= @shop.shop_name %>さま
<br><br>
先般は，女子バイトへご登録申請頂きましてまことにありがとうございます。<br>
登録審査が完了いたしました<br>
<a href= <%= "https://girlbaito.com/shop" %>>
  <%= "https://girlbaito.com/shop" %></a><br>
より登録した求人管理用メールアドレス<%= @shop.admin_email %>とパスワードを入力し<br>
店舗専用ページヘログインを行ってください。<br>
メニューよりすぐに求人広告掲載が可能となります。<br><br>

女子バイト<br>
<a href="https://girlbaito.com">https://girlbaito.com</a><br>
