<br>
<%= @shop.shop_name %>さま
<br><br>
この度は，女子高生バイトドットコムへご登録申請頂きましてまことにありがとうございます。<br>
登録審査には，営業許可証の確認が必要でございます。
大変お手数ですが，求人を予定している店舗についての営業許可証をご提出願います。
提出は本メールに返信する形で，画像添付にてお送り願います。
（デリヘル：営業開始届出書　詳細記載


登録申請の審査には１日〜１週間程度かかる場合がございますので，ご了承ください。<br>
また，審査時には弊社より電話にて確認を行うことがございますので，予めご了承ください。<br>
審査が完了しましたらメールにてお知らせ申し上げます。<br>
その後，専用ページにアクセス頂きますと求人が可能となります。<br>
その際には，ログインのために今回ご登録頂きましたパスワードが必要となりますので，ご注意ください。<br><br>

女子高生バイトドットコム<br>
<a href="https://girlbaito.com">https://girlbaito.com</a><br>