
<br><br>
この度は，女子バイトへご登録頂きましてありがとうございます。<br>
以下は，ご登録いただいたユーザ情報です。<br><br>

メールアドレス：<%= @girl.email %><br><br>

お友達紹介用アドレス：<a href= <%= "https://girlbaito.com/invitation/#{@girl.invitation_code}" %>>
  <%= "https://girlbaito.com/invitation/#{@girl.invitation_code}" %>
</a><br>
このアドレスをコピーしてお友達に紹介し，そのお友達が応募・採用されたら必ず５０００円以上の現金またはギフトカードをプレゼント致します。
<br><br>
女子バイト<br>
<a href="https://girlbaito.com">https://girlbaito.com</a><br>
