<% @title = '採用お祝い金とは' %>

<%= render 'shared/page_title', f1: @title, f2: false, f3: false %>

<div class="container">

  <h3 class="color-1">採用されれば必ずもらえる女子バイトからのお祝い金です。</h3>
  <p>採用お祝い金は、当サイトを使ってアルバイト探しが成功した方に対する，女子バイトからのおめでとうの気持ちを込めたプレゼントです。</p>
  <p>採用先（勤務先）企業からではなく、女子バイトから皆様にお贈りをしています。</p>
  <p>応募した求人によって様々ですが，最大で１０万円となっています。</p>
  <p>女子バイトは少しでも働く方々の助けになるような仕組みづくりを行っていきます。</p>
  <div class="text-center">

    <%= link_to :girl_applies, {:class => "btn btn-primary text-center"} do %>
      <i class="fa fa-money" aria-hidden="true"></i>お祝い金申請はこちらから
    <% end %>
  </div>
  </br>
</div>