<% @title = '最近見た店舗一覧' %> <h1><%= @title %></h1>


<h3><%= @shops_count %>件あります</h3>
<div class="table-responsive">
  <% if @shops %>
    <% @shops.each do |n| %>
      <%= render 'girl/shops/table_shop_index', f: n %>
      <div class="text-center">
        <%= link_to '詳しく見る', girl_shop_path(n.id), {:class => "btn btn-outline-primary"} %>
      </div>
      </br></br></br>
    <% end %>
  <% end %>
</div>