<% @title = '最近見た店舗一覧' %>

<% unless @shops_count == 0 %>
  <%= render 'shared/page_title', f1: @title, f2: "#{@shops_count}件あります", f3: false %>
<% else %>
  <%= render 'shared/page_title', f1: @title, f2: "閲覧履歴はありません", f3: false %>
<% end %>

<div class="table-responsive">
  <% if @shops %>
    <% @shops.each do |n| %>
      <%= render 'shared/shop_card', f: n %>

    <% end %>
  <% end %>
</div>


<div class="media featuresContent">
                <%= link_to image_tag("logo.png"), girl_root_path, {:class => "media-left img-rounded"} %>

  <div class="media-body">
    <h3 class="media-heading color-4">Easy Transport</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
  </div>

</div>
<div class="media featuresContent">
              <span class="media-left bg-color-4">
                <img class="img-responsive img-rounded border-color-4" src="/images/image1.jpg" alt="Image">
              </span>
  <div class="media-body">
    <h3 class="media-heading color-4">Easy Transport</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
  </div>

</div>
<div class="media featuresContent">
              <span class="media-left bg-color-4">
                <img class="img-rounded border-color-4" src="img/footer/footer-img-3.png" alt="Image">
              </span>
  <div class="media-body">
    <h3 class="media-heading color-4">Easy Transport</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
  </div>

</div>
