<% @title = '最近見た店舗一覧' %>

<%= render 'shared/page_title', f1: @title, f2: "#{@shops_count}件あります", f3: false %>

<div class="table-responsive">
  <% if @shops %>
    <% @shops.each do |n| %>
      <%= render 'shared/shop_card', f: n %>

    <% end %>
  <% end %>
</div>