<% @title = 'お仕事の種類' %> <h1><%= @title %></h1>

<h3>店舗型ヘルス</h3>
お客様が店舗に来店してヘルスサービスをするお仕事です。
お客様と一緒にシャワーに入った後、ベッドで手や口、素股などでサービスをします。
店舗の種類やオプションが多いのもヘルスの特徴です。
店員さんが常に近くにいるので安心して働くことができ、初心者にもお薦めです。

<h3>デリヘル</h3>
お客様の自宅や宿泊先のホテルに行き、ファッションヘルスと同じ手や口，素股などのサービスをします。
移動の際には，お店のスタッフが送り迎えをしてくれます。
時間の自由度が高いので，自分の時間を大切にした上で高収入を得たい女性にピッタリのお仕事です。

<h3>ソープランド</h3>
お客様が店舗に来店してサービスを行います。風俗の中でも特に高収入が期待できます。
お仕事内容としては、豪華な個室浴場にてお客様にサービスを致します。
かなりの高収入を期待できるお仕事です。
お風呂に入ってすっきりできるお客様の満足度もひとしおです。

<h3>エステ</h3>
風俗のお仕事の中では、ソフトな仕事内容となっています。
お店のスタイルにもよりますが，脱がない、舐めない、触られない，で風俗のお仕事をしたことが無い女性でも安心です。
お仕事内容は、お客様に普通のマッサージをし、その後手でサービスを行います。
お客様に癒やしと快感を与えることができるやりがいのあるお仕事です。

<h3>イメクラ</h3>
お客様の好みのシチュエーションでヘルスプレイをするお仕事です。
学生服やナースなどのコスプレをして接客をします。変身することが好きな女性にぴったりの
お仕事です。また，お客様が責める感じのプレイになりますので、受身が得意な女性に向いているお仕事です。


<h3>人妻ヘルス</h3>
お仕事は、通常のヘルス同様お客様と一緒にシャワーに入った後、ベッドで手や口、素股などでサービスをします。
人妻ヘルスはその名の通り，比較的落ち着いた大人の女性が向いています。
大人の女性に癒やされたいお客様が集まります。

<h3>SMクラブ・M性感</h3>
SMクラブは、SになるかMになるかでお仕事内容が変わります。
Sの場合は女王様となりお客様を言葉や道具を使用して責め、Mの場合は逆にお客様に責められるお仕事になります。
少し初心者の方にはハードルが高いかもしれません。
M性感とは、SMクラブのプレイをソフトにした風俗で、SM初心者の女の子でも興味があればお気軽に始めることができます。

<h3>オナクラ・ハンドヘルス</h3>
お客様のオ○ニーを見てあげたり、手のサービスを中心とした非常にソフトな部類の風俗です。
風俗初心者の方にもおすすめです。
基本的にこのお仕事は脱がない、舐めない、触られない，の三拍子がそろっています。
ただし，オプションで脱ぎや、ソフトタッチなどがあるお店もありますので問い合わせの際に聞いておきましょう。

<h3>ピンサロ</h3>
ピンクサロンやピンキャバなどと呼ばれるお仕事です。
ソファーやボックス席でお客様の隣に座り手や口を使ってサービスをするお仕事になります。
接客時間は他の風俗より短い所が多いです。

<h3>セクキャバ</h3>
キャバクラに、ボディタッチ等のサービスがプラスされたお仕事です。
ハードなサービスをすることが無く、風俗初心者の女性にお薦めです。

<h3>プロダクション</h3>
雑誌のグラビアやアダルトビデオの出演などいろいろなお仕事を女性に紹介してくれるのがプロダクションです。
様々なお仕事を取り扱っているところも多いため，お仕事によってギャラが変わります。

<h3>チャットレディ</h3>
パソコンや携帯電話で男性客とメールや動画などでやり取りするお仕事です。
自宅でお仕事ができる会社も多く、時間を大切にしたい女性に向いているお仕事です。
最近は動画でのやり取りの人気は高く，やり方によっては高収入が期待できます。
