<% @title = '個人情報保護方針' %> <h1><%= @title %></h1>
制定日：平成26年12月26日
<p>
  １．個人情報の取得、利用及び提供について<br>
  当社の全ての事業で取り扱う個人情報及び従業員の個人情報について、適切な取得、利用及び提供を行い、
  特定した利用目的の達成に必要な範囲を超えて個人情報を取り扱うことはありません。
  利用目的を超えて個人情報の取り扱いを行う場合には、あらかじめご本人の同意を得ます。
  <br><br>
  ２．個人情報に関する法令や指針、規範について<br>
  個人情報に関する法令・国が定める指針その他の規範を守ります。
  <br><br>
  ３．個人情報の安全管理について<br>
  個人情報への不正アクセスや、個人情報の漏えい、紛失、破壊、改ざん等に対して、可能な限りの防止並びに是正措置を行います。
  <br><br>
  ４．個人情報に関する苦情及び相談について<br>
  個人情報に関する苦情及び相談には、速やかに対処します。
  <br><br>
  ５．個人情報保護の取り組みについて<br>
  個人情報の保護を適切に行うため、継続的にその取り組みを見直し、改善します。
  <br><br>
  ＜個人情報保護方針に関するお問合せ先＞<br>
  女子高生バイトドットコム<br>
  　・TEL：<br>
  　・FAX：<br>
  　・Eメール：<br>
</p>
