<% @title = '利用規約' %> <h1><%= @title %></h1>

本規約は、女子バイトドットコム（以下、当社といいます。）が企画運営する「女子バイトドットコム」を通じて提供される一切のサービス（以下、本サービスといいます。）に適用されるものとします。
<br><br>
第1条（定義）
<br><br>
1.本サービスとは、「女子バイトドットコム」を通じた、インターネット上の求人情報サービス及び、それに関連するサービスの総称です。<br>
2.ユーザーとは、本サービスを利用するすべての方をいいます。
<br><br>
第2条（禁止事項）
<br><br>
ユーザーは、以下の行為を行うことを禁止します。
<br><br>
1.虚偽の情報を登録する行為<br>
2.公序良俗・法令・条例等に反する行為<br>
3.社会常識・通念を逸脱した行為<br>
4.当社、他のユーザー及び第三者の財産権（特許権、商標権、著作権等のあらゆる知的財産権を含む）またはプライバシーに関する権利等、あらゆる法的権利を侵害する行為<br>
5.当社、他のユーザー、求人企業及び第三者を誹謗中傷する行為<br>
6.継続勤務の意思がないにも関わらず採用祝い金を申請する行為<br>
7.本サービスの運営、当社の経営を妨げる恐れのある一切の行為<br>
8.その他、当社が不適切と判断する一切の行為<br>
<br>
第3条（情報の削除）<br>
<br>
当社は、第2条に規定された行為とみなされる情報が登録される等、登録情報を削除する必要がある場合、ユーザーに通知することなく、当該情報を削除することができます。<br>
<br>
第4条 (個人情報保護に関する事項)
<br><br>
1．個人情報取扱事業者<br>
　　女子バイトドットコム<br>
2．お客様の個人情報の利用目的<br>
　○本人より直接取得する個人情報<br>
（1）お客様のお問い合わせに対する回答、相談<br>
（2）お客様へのご連絡、お知らせ<br>
（3）お客様の個人認証<br>
（4）お客様が選択された企業への提供<br>
（5）お祝い金等支払の為の、金融機関に対する提供<br>
（6）お客様の登録内容の確認<br>
（7）アンケート、キャンペーン、その他情報提供の為の連絡<br>
（8）統計・分析データを作成<br>
　○本人より直接以外で取得する個人情報<br>
（9）当社取引企業様より委託された広告のコンテンツに含まれる写真・名前等の個人情報を掲載広告に利用<br>
3．当社取引企業様の個人情報の利用目的<br>
　○本人より直接取得する個人情報<br>
（1）企業様のお問い合わせに対する回答、相談<br>
（2）企業様への連絡、お知らせ<br>
（3）女子バイトドットコムの運営する事業における企業様の個人認証<br>
（4）アンケート、キャンペーン、その他情報提供の為の連絡<br>
（5）女子バイトドットコムの運営する事業の為、保護措置を講じた上での外部委託<br>
4．お問い合わせされた方の個人情報の利用目的<br>
　○本人より直接取得する個人情報<br>
（1）お問い合わせに対する回答、相談<br>
（2）連絡、お知らせ<br>
（3）アンケート、キャンペーン、その他情報提供の為の連絡<br>
（4）女子バイトドットコムの運営する事業の為、保護措置を講じた上での外部委託<br>
5．提供する個人情報<br>
　○女子バイトドットコム<br>
　　①お客様の個人情報の利用目的<br>
　　　お客様の就業の為、下記項目を紙媒体・電子媒体で提供<br>
　　　　氏名・生年月日・電話番号・メールアドレス・ラインID等の連絡先<br>
　　②お客様の個人情報の利用目的<br>
　　　お祝い金等お支払の為、下記項目を電子媒体で提供<br>
　　　　氏名・生年月日・振込口座情報・住所等<br>
6．Cookie情報を用いた行動履歴の取り扱いについて<br>
①Cookie情報について<br>
　当社ではCookie情報を使用し、当サイトにアクセスしたユーザーの閲覧したページなどの行動履歴情報を取得しております。<br>
　収集した行動履歴情報は、ユーザーのプライバシーの保護、利便性の向上、広告効果の最適化、及び利用状況の把握のために用いられます。
　これらのデータは匿名であり、氏名、住所、生年月日などの個人情報を含むものではありません。<br>
②アクセス解析について<br>
　当社ではサイトの利用状況を解析するGoogle Analyticsを用いております。<br>
　Google Analyticsは、Cookie情報を利用して利用者の情報を収集します。<br>
　Google Analyticsの利用規約に関する説明についてはGoogle Analyticsのポリシーと原則（http://www.google.com/intl/ja/policies/）をご覧ください。<br>
③行動ターゲティング広告サービスについて<br>
　当社では、行動ターゲティングの広告ネットワークと契約し、ユーザーの興味に合わせた広告コンテンツを配信しております。
過去に当社のウェブサイトを訪問している場合に、他のウェブサイト上でもユーザーに広告を表示することができます。
特にGoogleのリマーケティング広告では、Cookieを用いた行動履歴情報に基づいて広告を配信します。
<br>
　リマーケティングプライバシーポリシーについてはGoogleの公式サイトを参照ください。<br>
　https://adwords.google.com/support/aw/bin/answer.py?hl=en&answer=143465<br>
　  オプトアウトについて<br>
　Googleによる行動履歴情報の収集を拒否（オプトアウト）されたい場合は以下のページへアクセスしください。<br>
　http://www.google.com/ads/preferences?hl=ja<br>
　  その他行動ターゲティング広告のオプトアウトは以下をご参照ください。<br>
　　・グーグル株式会社<br>
　　　http://www.google.co.jp/intl/ja/policies/privacy/ads/<br>
　　・ヤフー株式会社<br>
　　　http://btoptout.yahoo.co.jp/optout/index.html<br>
　　・Criteo株式会社<br>
　　　http://www.criteo.com/jp/legal/privacy-policy<br>
　  これにより、訪問やリマーケティングの際に取得される行動履歴を蓄積することはできなくなります。（クッキーの削除やPCの変更などにより、この設定が無効化されると再度蓄積が開始される場合があります）<br>
7．個人情報処理の外部委託<br>
女子バイトドットコムは、個人情報取扱い業務の一部または全部を外部委託することがあります。<br>
8．個人情報提供の任意性<br>
女子バイトドットコムは、利用目的の達成に必要な個人情報を提供していただきます。必ずしもすべての項目にお答えいただく必要はありませんが、提供いただけない場合、女子バイトドットコムの運営するサイトやサービスが一部利用できないことがあります。
<br>
9．個人情報に関するお問合せ先・苦情の申出先<br>
　　女子バイトドットコム　顧客相談窓口責任者<br>
　　Eメール：<br>
<br>
第5条（サービスの変更）
<br><br>
当社は、事前の通知なく、ユーザー向けサービスを変更または一時的に中断をすることがありますが、ユーザーはそれに対して異議を申し立てないものとします。
<br><br>
第6条（採用祝い金の申請期限）
<br><br>
採用お祝い金の申請期限は、ユーザーが応募した日から2ヶ月間とします。期間内に当社へ申請を行わなかった場合は、採用祝い金の受取を希望しないものと見なし、それ以降の申請は無効とします。
<br><br>
第7条（免責）
<br><br>
1.本サービスは、職業安定法に規定される職業紹介ではなく、当社は本サービス上の求人情報内容の正確性、有用性等について何らの保証をしないものとします。
2.当社は、ユーザーが本サービスを利用することにより発生する一切の損害に対し、何らの責任も負担しないものとします。
3.当社は本サービスの中断や停止、内容の変更や追加によってユーザーが受けた損害に関して、何ら責任も負わないものとします。
<br><br>
第8条（規約の変更）
<br><br>
当社は、ユーザーの承諾を得ることなく、本規約を随時変更することができます。
変更の内容は、本サービスに掲載し、その掲載をもって、すべてのユーザーが了承したものとみなします。
<br><br>
第9条（損害賠償）
<br><br>
ユーザーが本規約に違反し、当社または第三者に対し損害を与えた場合、ユーザーは、当社または第三者に対し、損害賠償義務を負担します。
<br><br><br>

制定日：平成28年◯月◯日