<% @title = '女子バイトの理念' %>

<%= render 'shared/page_title', f1: @title, f2: false, f3: false %>

<div class="container">

  <h2 class="color-1">私たちのミッション</h2>
  <h2 class="color-1"><女性たちの幸せを最大化する></h2>

  <h4>女子バイトは様々な仕組みづくりを通じて，
  世の中の女性たちの幸せを最大化することを目的に活動を行います。</h4>


  <h2 class="color-2">私たちのビジョン</h2>
  <h2 class="color-2"><働く女性の報酬をより適正に，より多くする></h2>
　<p>全ての働いている女性が適正な報酬を得られる環境の実現を目指します。</p>
 <p> 不当に安い報酬で働いている環境の撲滅を目指します。</p>
 <p> さらに様々な仕組みづくりによる効率化を通じて，業界の利益を向上させ，女性へより多くの報酬を還元します。</p>
 <p> 報酬が全てではありませんが，一人ひとりの女性が正当な権利により適正な報酬を得て，
   少しでも幸せを感じられる時間が増えるように，サポートを行っていきます。</p>

</div>