<table class="table table-curved">

  <tr>
    <td>氏名</td>
    </td>
    <td><%= f.name %></td>
  </tr>
  <tr>
    <td>メールアドレス</td>
    <td><%= f.email %></td>
  </tr>
  <tr>
    <td>電話番号</td>
    <td><%= f.tel %></td>
  </tr>

  <tr>
    <td>お友達紹介用URL</td>
    <td>http://girlsbaito.example.com:3000/intro?code=<%= f.invitation_code %></td>
  </tr>


</table>