/* tableの文字列を折り返すため*/

.alt-table-responsive {
    width: 100%;
    overflow-y: hidden;
    overflow-x: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    -webkit-overflow-scrolling: touch;
}

h3.color-original1{
    font-size: 36px;
    line-height: 4px1;
    color: #3ecdc6;
    text-transform: capitalize;
    font-family: 'Dosis', sans-serif;
    margin: 0 0 20px 0;
}


/* アイコンを丸くして色付け*/

.custumicon_circle2{

}
.custumicon_circle2 .icon2{
    border-radius: 50%;
    position: relative;
    display: inline-block;
    width: 30px;
    height: 30px;
    font-size: 21px;
    line-height: 30px;
    vertical-align: middle;
}

.custumicon_circle2 .icon2 .fa {
    line-height: 30px;
    color: white;
}
.custumicon_circle2 h4{
    display:inline;
    vertical-align: middle;
}

/* 特徴をボタンっぽくするため*/
span.featurebox {
    line-height: 20px;
    height: 20px;
    border: none;
    box-shadow: 0 4px 0 rgba(0, 0, 0, 0.1);
    background-color: #ea7066;
    border-radius: 6px;
    font-size: 13px;
    text-transform: uppercase;
    color: #ffffff;
    transition: all 0.3s ease-in-out;
    font-weight: 550;
    width: 100px;
    display: inline-block;
    text-align: center;
}