<p>いつも女子バイトをご利用いただきましてありがとうございます。</p>

<p>パスワード再設定を行うには下記リンクをクリックしてください。</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>もしこのメールに心当たりがない場合には，大変お手数ですが破棄をお願いいたします。</p>