<table class="table col-sm-8">
  <tr>
    <td>応募する店舗</td>
    </td>
    <td><%= @shop.shop_name %></td>
  </tr>
  <tr>
    <td>エリア</td>
    <td><%= @shop.city.name %></td>
  </tr>
  <tr>
    <td>業種</td>
    <td><%= @shop.category.name %></td>
  </tr>

</table>