</br></br></br></br>


<div id="footer">

  <div class="logo">
    LOGO
  </div>


  <ul class="navbar-nav list-inline">
    <li class="first"><%= link_to '広告掲載のお申込み', {controller: :top, action: :advertisement} %></li>
    <li><%= link_to 'お問い合わせ', {controller: :top, action: :contact} %></li>
    <li><%= link_to '利用規約', {controller: :top, action: :policy} %></li>
    <li><%= link_to '個人情報保護方針', {controller: :top, action: :personal_info} %></li>
  </ul>

  <div class="clearfix"></div>

  <ul class="sns-icon list-inline">
    <li><i class="fa fa-twitter fa-2x"></i></li>
    <li><i class="fa fa-facebook fa-2x"></i></li>
  </ul>

  <div class="copy">
    <span>Copyright © 2015 girlsbaito.com All Rights Reserved.</span>
  </div>

</div>