<!-- BANNER -->
<div class="container">

  <div id="sampleCarousel" class="carousel slide" data-ride="carousel" data-interval="3500">

    <ol class="carousel-indicators">
      <li class="active" data-target="#sampleCarousel" data-slide-to="0"></li>
      <li data-target="#sampleCarousel" data-slide-to="1"></li>
      <li data-target="#sampleCarousel" data-slide-to="2"></li>
    </ol>

    <div class="carousel-inner" role="listbox">
      <% f.each_with_index do |n, i| %>
        <% if i==0 %>
          <div class="item active">
        <% else %>
          <div class="item">
        <% end %>
        <%= link_to image_tag(n.main_image.url), girl_shop_path(n.id), :height => "200px", :class => "img-responsive" %>
        <div class="sticker bg-color-6"><br>お祝い金<br><%= n.congratulation_money.to_s(:delimited) %>円</div>

        </div>
      <% end %>

      </div>



    </div>
  </div>
