<!-- BANNER -->
<section class="bannercontainer bannercontainerV1">
  <div class="fullscreenbanner-container">
    <div class="fullscreenbanner">
      <ul>
        <li data-transition="fade" data-slotamount="5" data-masterspeed="700" data-title="Slide 1">
          <%= image_tag("slider-1.jpg", :alt => "slidebg1", :'data-bgfit' => "cover", :'data-bgposition'=>"center center", :'data-bgrepeat' => "no-repeat") %>
          <div class="slider-caption container">
            <div class="tp-caption rs-caption-1 sft start"
                 data-hoffset="0"
                 data-y="250"
                 data-speed="800"
                 data-start="1000"
                 data-easing="Back.easeInOut"
                 data-endspeed="300">
              採用お祝い金最大10万円
            </div>

            <div class="tp-caption rs-caption-2 sft"
                 data-hoffset="0"
                 data-y="315"
                 data-speed="1000"
                 data-start="1500"
                 data-easing="Power4.easeOut"
                 data-endspeed="300"
                 data-endeasing="Power1.easeIn"
                 data-captionhidden="off">
              採用されれば全員もらえる！！ <br>
              採用お祝い金最大10万円
            </div>
          </div>
        </li>
        <li data-transition="fade" data-slotamount="5" data-masterspeed="1000" data-title="Slide 2">
          <%= image_tag("slider-2.jpg", :alt => "slidebg1", :'data-bgfit' => "cover", :'data-bgposition'=>"center center", :'data-bgrepeat' => "no-repeat") %>

          <div class="slider-caption container">
            <div class="tp-caption rs-caption-1 sft start text-center"
                 data-hoffset="0"
                 data-x="center"
                 data-y="250"
                 data-speed="800"
                 data-start="1000"
                 data-easing="Back.easeInOut"
                 data-endspeed="300">
              紹介特典最大5万円相当
            </div>

            <div class="tp-caption rs-caption-2 sft text-center"
                 data-hoffset="0"
                 data-x="center"
                 data-y="315"
                 data-speed="1000"
                 data-start="1500"
                 data-easing="Power4.easeOut"
                 data-endspeed="300"
                 data-endeasing="Power1.easeIn"
                 data-captionhidden="off">
              お友達にサイトを教えてもらえる <br>
              紹介ポイント最大5万円相当
            </div>
          </div>
        </li>

        <% if false %>
        <li data-transition="fade" data-slotamount="5" data-masterspeed="700"  data-title="Slide 3">
          <%= image_tag("slider-3.jpg", :alt => "slidebg1", :'data-bgfit' => "cover", :'data-bgposition'=>"center center", :'data-bgrepeat' => "no-repeat") %>

          <div class="slider-caption container">
            <div class="tp-caption rs-caption-1 sft start text-right"
                 data-hoffset="0"
                 data-y="200"
                 data-x="right"
                 data-speed="800"
                 data-start="1000"
                 data-easing="Back.easeInOut"
                 data-endspeed="300">
              Impress Your Clients
            </div>

            <div class="tp-caption rs-caption-2 sft text-right"
                 data-hoffset="0"
                 data-y="265"
                 data-x="right"
                 data-speed="1000"
                 data-start="1500"
                 data-easing="Power4.easeOut"
                 data-endspeed="300"
                 data-endeasing="Power1.easeIn"
                 data-captionhidden="off">
              Kidz is created for better user experience in mind.
            </div>
          </div>
        </li>

        <li data-transition="fade" data-slotamount="5" data-masterspeed="1000" data-title="Slide 2">
          <%= image_tag("slider-4.jpg", :alt => "slidebg1", :'data-bgfit' => "cover", :'data-bgposition'=>"center center", :'data-bgrepeat' => "no-repeat") %>

          <div class="slider-caption container">
            <div class="tp-caption rs-caption-1 sft start text-center"
                 data-hoffset="0"
                 data-x="center"
                 data-y="200"
                 data-speed="800"
                 data-start="1000"
                 data-easing="Back.easeInOut"
                 data-endspeed="300">
              Bright Playful Colors
            </div>

            <div class="tp-caption rs-caption-2 sft text-center"
                 data-hoffset="0"
                 data-x="center"
                 data-y="265"
                 data-speed="1000"
                 data-start="1500"
                 data-easing="Power4.easeOut"
                 data-endspeed="300"
                 data-endeasing="Power1.easeIn"
                 data-captionhidden="off">
              Combination of bright and playful colors will help you <br>
              make users happy.
            </div>
          </div>
        </li>
        <% end %>

      </ul>
    </div>
  </div>
</section>