<!-- BANNER -->
<section class="bannercontainer bannercontainerV1">
  <div class="fullscreenbanner-container">
    <div class="fullscreenbanner">
      <ul>
        <li data-transition="fade" data-slotamount="5" data-masterspeed="700" data-title="Slide 1">
          <%= image_tag("img/slider-1.jpg", :alt => "slidebg1", :'data-bgfit' => "cover", :'data-bgposition'=>"center center", :'data-bgrepeat' => "no-repeat") %>
          <div class="slider-caption container">
            <div class="tp-caption rs-caption-1 sft start"
                 data-hoffset="0"
                 data-y="200"
                 data-speed="800"
                 data-start="1000"
                 data-easing="Back.easeInOut"
                 data-endspeed="300">
              女子バイト
            </div>

            <div class="tp-caption rs-caption-2 sft"
                 data-hoffset="0"
                 data-y="265"
                 data-speed="1000"
                 data-start="1500"
                 data-easing="Power4.easeOut"
                 data-endspeed="300"
                 data-endeasing="Power1.easeIn"
                 data-captionhidden="off">
              採用されれば全員もらえる！！ <br>
              採用お祝い金最大10万円
            </div>
          </div>
        </li>
        <li data-transition="fade" data-slotamount="5" data-masterspeed="1000" data-title="Slide 2">
          <%= image_tag("img/slider-2.jpg", :alt => "slidebg1", :'data-bgfit' => "cover", :'data-bgposition'=>"center center", :'data-bgrepeat' => "no-repeat") %>

          <div class="slider-caption container">
            <div class="tp-caption rs-caption-1 sft start text-center"
                 data-hoffset="0"
                 data-x="center"
                 data-y="200"
                 data-speed="800"
                 data-start="1000"
                 data-easing="Back.easeInOut"
                 data-endspeed="300">
              Sell Kids Products
            </div>

            <div class="tp-caption rs-caption-2 sft text-center"
                 data-hoffset="0"
                 data-x="center"
                 data-y="265"
                 data-speed="1000"
                 data-start="1500"
                 data-easing="Power4.easeOut"
                 data-endspeed="300"
                 data-endeasing="Power1.easeIn"
                 data-captionhidden="off">
              All ecommerce features are included with KIDZ <br>
              Build your ecommerce site.
            </div>
          </div>
        </li>
        <li data-transition="fade" data-slotamount="5" data-masterspeed="700"  data-title="Slide 3">
          <%= image_tag("img/slider-3.jpg", :alt => "slidebg1", :'data-bgfit' => "cover", :'data-bgposition'=>"center center", :'data-bgrepeat' => "no-repeat") %>

          <div class="slider-caption container">
            <div class="tp-caption rs-caption-1 sft start text-right"
                 data-hoffset="0"
                 data-y="200"
                 data-x="right"
                 data-speed="800"
                 data-start="1000"
                 data-easing="Back.easeInOut"
                 data-endspeed="300">
              Impress Your Clients
            </div>

            <div class="tp-caption rs-caption-2 sft text-right"
                 data-hoffset="0"
                 data-y="265"
                 data-x="right"
                 data-speed="1000"
                 data-start="1500"
                 data-easing="Power4.easeOut"
                 data-endspeed="300"
                 data-endeasing="Power1.easeIn"
                 data-captionhidden="off">
              Kidz is created for better user experience in mind.
            </div>
          </div>
        </li>
        <li data-transition="fade" data-slotamount="5" data-masterspeed="1000" data-title="Slide 2">
          <%= image_tag("img/slider-4.jpg", :alt => "slidebg1", :'data-bgfit' => "cover", :'data-bgposition'=>"center center", :'data-bgrepeat' => "no-repeat") %>

          <div class="slider-caption container">
            <div class="tp-caption rs-caption-1 sft start text-center"
                 data-hoffset="0"
                 data-x="center"
                 data-y="200"
                 data-speed="800"
                 data-start="1000"
                 data-easing="Back.easeInOut"
                 data-endspeed="300">
              Bright Playful Colors
            </div>

            <div class="tp-caption rs-caption-2 sft text-center"
                 data-hoffset="0"
                 data-x="center"
                 data-y="265"
                 data-speed="1000"
                 data-start="1500"
                 data-easing="Power4.easeOut"
                 data-endspeed="300"
                 data-endeasing="Power1.easeIn"
                 data-captionhidden="off">
              Combination of bright and playful colors will help you <br>
              make users happy.
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>